:root {
    --primaryText: #2D314D;
    --linkHover: #30C88F;
    --footerBackground: #2D314D;
    --headerBackground: #FFFFFF;
    --secondaryBackground: #F4F5F7;
    --lightBackground: #FAFAFA;
    --lightText: #FAFAFA;
    --secondaryText: #9597A5;
    

}

/* universal styling */
* {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

/* body element */
body {
    
}

/* anchor elements */
a {
    text-decoration: none;
    color: var(--secondaryText);
}

/* p elements */
p {
    color: var(--secondaryText);
}

/* h1 elements */
h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
}

/* header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerBackground);
    margin-top: -8px;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;  
}

/* subscribe button in header */
header button {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* nav bar */
nav {
    color: var(--secondaryText);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    font-size: 0.75rem;   
}

/* footer styling */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--footerBackground);
    color: var(--lightText);
}

/* universal button styling */
button {
    color: var(--lightText);
    background-image: linear-gradient(to 
    bottom right, #33D35E, #2AB6D9);
    font-size: 0.75rem;
    border-style: none;
    font-weight: 700;
    border-radius: 1.5rem;
    width: 10rem;
    height: 2.75rem;

}

button:hover {
    cursor: pointer;
}

/* first section at top with basic info */
.top-section {
    background-color: var(--lightBackground);
    background-image: url("../images/bg-intro-desktop.svg");
    background-position-y: 70%;
    background-position-x: 600px;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 8rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

/* phone image overlayed over background image in top section */
.top-section img {
    position: absolute;
    right: -5%;
    top: 13%;
    width: 50%;
}

.top-section-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.top-section-info-container p {
    width: 80%;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* flex container that holds info-child sections of second section */
.info-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 8rem;
    padding-right: 6rem;
    width: 100%;
}

/* second section */
.choose-section {
    padding-bottom: 6rem;
    background-color: var(--secondaryBackground);
}

/* info heading and paragraph of choose section */
.choose-info {
    width: 65%;
    padding: 8rem;
}

/* h2 in choose-info */
.choose-info h2 {
    font-size: 3rem;
    font-weight: 100;
}

.choose-info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* child elements in info-flex-container in a row on 
desktop and column in mobile */
.info-child {
    display: flex;
    flex-direction: column;
    width: 23%;   
}

/* third section latest articles */
.latest-article-section {
    padding-left: 8rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.latest-article-section h2 {
    font-size: 3rem;
    font-weight: 100;
}

/* article flex container in a row on desktop and column in mobile */
.article-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* article in article-flex-container */
.article-child {
    width: 23%;
}

.article-child img {
    max-width: 100%;
   
}

/* TODO */
footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 191px;
    width: 100%;

}

/* footer container with logo and social icons */
.footer-image-container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    padding-left: 8rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 32%;
}

.footer-image-container img {
    /* background-color: #FFFFFF; */
}

.social-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* parent container that has nav links in the footer */
.link-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* container with nav links in the footer */
.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trademark-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: right;
}