:root {
    --primaryText: #2D314D;
    --linkHover: #30C88F;
    --footerBackground: #2D314D;
    --headerBackground: #FFFFFF;
    --secondaryBackground: #F4F5F7;
    --lightBackground: #FAFAFA;
    --lightText: #FAFAFA;
    --secondaryText: #9597A5;
    --linearGradient: linear-gradient(to bottom right, #33D35E, #2AB6D9);

}

/* universal styling */
* {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

/* body element */
body {
    
}

/* anchor elements */
a {
    text-decoration: none;
    color: var(--secondaryText);
}

/* p elements */
p {
    color: var(--secondaryText);
}

/* h1 elements */
h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
}

/* header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerBackground);
    margin-top: -8px;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;  
}

header button {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav {
    color: var(--secondaryText);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    font-size: 0.75rem;   
}

/* footer styling */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--footerBackground);
    color: var(--lightText);
}

button {
    color: var(--lightText);
    background-color: linear-gradient(bottom right, #33D35E, #2AB6D9);
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 1.5rem;
    width: 10rem;
    height: 2.75rem;

}

button:hover {
    cursor: pointer;
}

.top-section {
    background-color: var(--lightBackground);
    background-image: url("../images/bg-intro-desktop.svg");
    background-position-y: 70%;
    background-position-x: 600px;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 8rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.top-section-info-container {
    display: flex;
    flex-direction: column;
    /* justify-content:left; */
    flex-wrap: wrap;
    width: 45%;
}
.top-section-info-container p {
    width: 80%;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}